$grocery-pink: #d65649;
$pure-black: #000;
$grocery-gray: #444;
$secondary: $grocery-gray;

$theme-colors: (
  "grocery-pink": $grocery-pink,
  "pure-black": $pure-black
);

@import "node_modules/bootstrap/scss/bootstrap";

html {
  object-fit: cover !important;
  max-width: 1200px;
  min-width: 350px;
  margin: 0 auto;
}

.main-bg {
  padding: 100px 20px;
  background-size: cover !important;
  background-position: 50% 50%;
}

.search-form {
  background-color: rgba(255, 255, 255, 0.4);
}

.how-it-works {
  .fas {
    font-size: 35px;
  }
}

.store-count {
  background: theme-color-level(grocery-pink, -4);
}

.stay-home {
  background: theme-color-level(secondary, -4);

}

.use-smartphone {
  background: theme-color-level(primary, -6);
}

.store-name {
  color: $grocery-pink;

  &:hover {
    color: $grocery-pink;
    text-decoration: none;
  }
}

.store-hours {
  font-size: small;
  font-weight: bold;
}

.category-list {
  color: $secondary;

  li {
    font-size: small;
    background: rgba(214, 86, 73, 0.1);
    border-color: rgba(68, 68, 68, 0.08);

    i {
      color: $grocery-pink;
      margin-right: 5px;
    }
  }
}

.store-contact {
  background:  rgba(68, 68, 68, 0.1);
}

.store-link {
  font-weight: bold;
  color: $grocery-pink;

  &:hover {
    color: $grocery-pink;
    text-decoration: underline;
    text-decoration-color: $grocery-pink;
  }
}

.media {
  img {
    width: 180px;
    height: 180px;
  }
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav-links {
  width: calc((100% - 45px) / 2);
  padding: 5px 10px;
  font-size: x-small;
}

@media screen and (min-width: 768px) {
  .footer-nav-links {
    border-top: 0.5px solid $secondary;
    border-bottom: 0.5px solid $secondary;
  }
}

.location-icon {
  border: 0.5px solid $secondary;
  border-radius: 50%;

  .fas {
    font-size: 15px;
    padding: 15px;
  }
}

.footer-options {
  font-size: x-small;

  input {
    font-size: x-small;
  }

  button  {
    font-size: x-small;
  }
}

.page-footer {
  background-color: #1f1f1f;
}

.footer-icons {
  i {
    font-size: small;
  }
}

.copyright {
  font-size: x-small;
}
